version: '3.8'

services:
  raspi-app:
    image: Raspi OpenCV Arduino  # 빌드해서 올린 이미지 이름
    container_name: arduino_controller
    restart: unless-stopped
    devices:
      # [호스트 경로] : [컨테이너 내부 경로]
      - "/dev/arduino_port:/dev/ttyACM0"
    environment:
      - SERIAL_PORT=/dev/ttyACM0
      - USE_MOCK=False